.create__continent {
  margin-bottom: 50px;
}
.continent div input {
  width: 500px;
  height: 50px;
  outline-style: none;
  border: 2px solid orange;
}
.createBtn {
  width: 200px;
  height: 50px;
  border-style: none;
  background-color: orange;
}
.continent_cards {
  display: flex;
  flex-wrap: wrap;
}
.continent_card {
  width: 300px;
  height: 150px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
}
.continent_card:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 50px;
}
.EditButton {
  border-style: none;
  width: 150px;
  height: 30px;
  outline-style: none;
  background-color: rgba(0, 0, 0, 0.627);
  color: orange;
  margin-top: 50px;
}

.continent_card h1 {
  font-size: 16px;
  text-align: center;
}
